<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>EPICS websocket Node js</title>
<script src="socket.io/socket.io.js"></script>
<script src="bower_components/async/dist/async.js"></script>
<script>
var serverIP="192.168.2.105";
// var serverIP="210.72.8.90";
var socket = io.connect(serverIP+':9021');
// var socket = io.connect(serverIP+':80');
var pvs={ai:[{pvname:"hanlfHost:ai1"},{pvname:"hanlfHost:ai2"},{pvname:"hanlfHost:ai3"}],
         ao:[{pvname:"hanlfHost:ao1"}, {pvname:"hanlfHost:ao2"}, {pvname:"hanlfHost:ao3"}]
        }
// console.log(pvs.ai);
       async.map(pvs.ai,function(item,callback){
          console.log(item.pvname);
          socket.on(item.pvname, function (data) {
            if(document.getElementById(item.pvname)){
             document.getElementById(item.pvname).innerHTML=data;
            }
               });
               
       }, function(err,results){
         callback(err,results); 
         console.log(results);
       });

</script>

</head>

<body>
    <h1 align="center">EPICS 网页 websocket</h1>
    <address align="center">
    <a href="mailto:hanlifeng@sinap.ac.cn"> Johnson Han @TMSR</a>
    </address>
    <div>
      <p> </p>
      </div>  
    
    <div>
            <p>hanlfHost:ai1 <b id="hanlfHost:ai1">未连接</b></p>
    </div>
        <div>
            <p>hanlfHost:ai2 <b id="hanlfHost:ai2">未连接</b></p>
    </div>
</body>
</html>