<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>小韩 | EPICS - <%= title %> </title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->

	<link href="media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<link rel="shortcut icon" href="media/image/favicon.ico" />

	<script src="socket.io/socket.io.js"></script>
	
	<script src="bower_components/async/dist/async.js"></script>
	<script src="js/echarts.min.js"></script>

<!-- 
<script>
		var serverIP="210.72.8.90";
		var socket = io.connect(serverIP+':80');
		var pvs={ai:[{pvname:"hanlfHost:ai1"},{pvname:"hanlfHost:ai2"},{pvname:"hanlfHost:ai3"}],
         ao:[{pvname:"hanlfHost:ao1"}, {pvname:"hanlfHost:ao2"}, {pvname:"hanlfHost:ao3"}]
        }
		// console.log(pvs.ai);
       async.map(pvs.ai,function(item,callback){
          console.log(item.pvname);
          socket.on(item.pvname, function (data) {
            if(document.getElementById(item.pvname)){
             document.getElementById(item.pvname).innerHTML=data;
            }
               });
               
       }, function(err,results){
         callback(err,results); 
         console.log(results);
       });

</script> -->

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

	<!-- BEGIN HEADER -->

	<div class="header navbar navbar-custom navbar-fixed-top">

		<!-- BEGIN TOP NAVIGATION BAR -->

		<div class="navbar-inner">

			<div class="container-fluid">

				<!-- BEGIN LOGO -->

				<a class="brand" href="/">

				<img src="media/image/logo.png" alt="logo" />

				</a>

				<!-- END LOGO -->

				<!-- BEGIN HORIZANTAL MENU -->

			

				<!-- END HORIZANTAL MENU -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->

				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

				<img src="media/image/menu-toggler.png" alt="" />

				</a>          

				<!-- END RESPONSIVE MENU TOGGLER -->            

				<!-- BEGIN TOP NAVIGATION MENU -->              

				<ul class="nav pull-right">

					

				

					<!-- BEGIN USER LOGIN DROPDOWN -->

					<li class="dropdown user">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

						<img alt="" src="media/image/avatar1_small.jpg" />

						<span class="username">韩 利峰</span>

						<i class="icon-angle-down"></i>

						</a>

						<ul class="dropdown-menu">
							<li><a href="/comment"><i class="icon-comment"></i>留言板</a></li>


						</ul>

					</li>

					<!-- END USER LOGIN DROPDOWN -->

				</ul>

				<!-- END TOP NAVIGATION MENU --> 

			</div>

		</div>

		<!-- END TOP NAVIGATION BAR -->

	</div>

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->   

	<div class="page-container row-fluid" >

		<!-- BEGIN HORIZONTAL MENU PAGE SIDEBAR1 -->

		<div class="page-sidebar nav-collapse collapse">

			<ul class="page-sidebar-menu hidden-phone hidden-tablet">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

					<form class="sidebar-search">

						<div class="input-box">

							<a href="javascript:;" class="remove"></a>

							<input type="text" placeholder="Search..." />            

							<input type="button" class="submit" value=" " />

						</div>

					</form>

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

				<li class="start active">

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title"></span>概述</span>

					<span class="selected "></span>

					<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">

						<li class="active">

							<a href="/system_structure">

							 	系统结构                    </a>

						</li>



						
						<li >
												
							<a href="/control_system">
												
								控制系统 </a>

								<!-- <ul class="sub-menu">

									<li >
			
										<a href="portlet_general.html">
			
											信号变量</a>
			
									</li>
								</ul> -->

												
						</li>

						
						<li>
						
							<a  href="/epics_manual">
						
								安装配置 </a>
						
						</li>




					</ul>

				</li>

				<li >

					<a href="javascript:;">

					<i class="icon-dashboard"></i> 

					<span class="title">监视控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="/widget_tank">

								Tank</a>

						</li>

						<li >

							<a href="portlet_draggable.html">

							   Process Bar </a>

						</li>
						
						<li>
							<a href="portlet_general.html">
												
						    	LED</a>
												
						</li>
												
						<li>
												
							<a href="portlet_draggable.html">
												
								Text Update </a>
												
						</li>
						<li>
						
							<a href="portlet_draggable.html">
						
								Meter </a>
						
						</li>
						<li>
												
							<a href="portlet_draggable.html">
												
						 		Guage </a>
												
							</li>

					</ul>

				</li>

				<li >

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">控制控件</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							TextInput                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							Vector Maps                   </a>

						</li>

					</ul>

				</li>

				<li >

					<a href="charts.html">

					<i class="icon-film"></i> 

					<span class="title">其它</span>

					</a>

				</li>

				<li >

					<a href="javascript:;">

					<i class="icon-puzzle-piece"></i> 

					<span class="title">系统应用</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="TextInput.html">

							智能监控                  </a>

						</li>

						<li >

							<a href="maps_vector.html">

							辐射监测                   </a>

						</li>

					</ul>

				</li>
				<li>
				
					<a href="/comment">
					
						<i class="icon-comment"></i>
					
						<span class="title">留言板</span>
						<span class="badge" style="background-color: #e02222;padding: 2px 6px 2px 6px;-webkit-border-radius: 12px !important; -moz-border-radius: 12px !important; border-radius: 12px !important; text-shadow: none !important" >new</span>

					</a>
				
				</li>
			</ul>

			<!--HORIZONTAL AND SIDEBAR MENU FOR MOBILE & TABLETS-->

			<ul class="page-sidebar-menu visible-phone visible-tablet">


				<li class="start active">

					<a href="/">

					概述

					<span class="selected"></span>

					<span class="arrow open"></span>

					</a>

                         <ul class="sub-menu">
						<li >

							<a href="/system_structure">

							<i class="icon-cogs"></i> 

							<span class="title" >系统结构</span>

							<span class="arrow open"></span>

							</a>

						</li>
						<li>

							<a href="/control_system">
		
								<i class="icon-wrench"></i>
		
								<span class="title">控制系统</span>
		
								<span class="arrow open"></span>
		
							</a>
		
						</li>
						<li>
						
							<a href="/epics_manual">

								<i class="icon-wrench"></i> 
						
								<span class="title" >安装配置</span>

								<span class="arrow open"></span>
							
							</a>
						
						</li>
					</ul>
                    </li>
			</ul>

		</div>

		<!-- END BEGIN HORIZONTAL MENU PAGE SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">
		
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<div id="portlet-config" class="modal hide">
		
				<div class="modal-header">
		
					<button data-dismiss="modal" class="close" type="button"></button>
		
					<h3>portlet Settings</h3>
		
				</div>
		
				<div class="modal-body">
		
					<p>Here will be a configuration form</p>
		
				</div>
		
			</div>
		
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
		
			<!-- BEGIN PAGE CONTAINER-->
		
			<div class="container-fluid">
		
				<!-- BEGIN PAGE HEADER-->
		
				<div class="row-fluid">
		
					<div class="span12">
		
						<!-- BEGIN STYLE CUSTOMIZER -->
		
						<div class="color-panel hidden-phone">
		
							<div class="color-mode-icons icon-color"></div>
		
							<div class="color-mode-icons icon-color-close"></div>
		
							<div class="color-mode">
		
								<p>THEME COLOR</p>
		
								<ul class="inline">
		
									<li class="color-white color-light" data-style="light"></li>
		
								</ul>
		
								<label>
		
									<span>Layout</span>
		
									<select class="layout-option m-wrap small">
		
										<option value="fluid" selected>Fluid</option>
		
										<option value="boxed">Boxed</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Header</span>
		
									<select class="header-option m-wrap small">
		
										<option value="fixed" selected>Fixed</option>
		
										<option value="default">Default</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Sidebar</span>
		
									<select class="sidebar-option m-wrap small">
		
										<option value="fixed">Fixed</option>
		
										<option value="default" selected>Default</option>
		
									</select>
		
								</label>
		
								<label>
		
									<span>Footer</span>
		
									<select class="footer-option m-wrap small">
		
										<option value="fixed">Fixed</option>
		
										<option value="default" selected>Default</option>
		
									</select>
		
								</label>
		
							</div>
		
						</div>
		
						<!-- END BEGIN STYLE CUSTOMIZER -->
		
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		
						<h3 class="page-title">
		
							系统结构
							<small>数据流程</small>
		
						</h3>
		
						<ul class="breadcrumb">
		
							<li>
		
								<i class="icon-home"></i>
		
								<a href="/">Home</a>
		
								<i class="icon-angle-right"></i>
		
							</li>
		
							<li>
		
								<a href="#">Architucture</a>
		
							</li>
		
						</ul>
		
						<!-- END PAGE TITLE & BREADCRUMB-->
		
					</div>
		
				</div>
		
				<!-- END PAGE HEADER-->
		
				<!-- BEGIN PAGE CONTENT-->
		
				<div class="row-fluid">
		
					<div class="span12 news-page blog-page">
		
						<div class="row-fluid">
		
							<div class="span8 blog-tag-data">
								<div class="page-header">
									<h1>后端技术</h1>	
								</div>
		
								<a href="#m1" data-toggle="modal" class="thumbnail" style="text-align:center">
									<img src="media/image/system_arch.png">
								</a>
								<div id="m1" class="modal fade">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">系统结构</div>
											<div class="modal-body">
												<img src="media/image/system_arch.png">
											</div>
											<div class="modal-footer">基于Node-web的epics监控系统架构图</div>
										</div>

									</div>

								</div>
								<div class="row-fluid">
		
									<div class="span6">
		
										<ul class="unstyled inline blog-tags">
		
											<li>
		
												<i class="icon-tags"></i>
		
												<a href="https://Node.js.org/en">Node.js</a>
		
												<a href="https://www.websocket.org">websocket</a>
		
												<a href="https://epics.anl.gov">EPICS</a>
		
											</li>
		
										</ul>
		
									</div>
		
									<div class="span6 blog-tag-data-inner">
		
										<ul class="unstyled inline">
		
											<li>
												<i class="icon-calendar"></i>
												<a href="#">december 20, 2017</a>
											</li>
		
										</ul>
		
									</div>
		
								</div>
		
								<div class="news-item-page" style="text-indent: 2em">
									<br>	
									<p><strong>Node.js</strong> 是一个让 JavaScript 运行在服务端的开发平台，它让 JavaScript 成为脚本语言世界的一等公民。可以说，Node.js开创了javascript模块化开发的先河。早期的javascript需求都很简单，基本都是写成函数的，然后是面向过程的写法，后来慢慢的引入面向对象开发思想，再后来就慢慢写成类，最后Node.js的出现才开始有了js模块化开发的概念。</p>

									<p>Node.js的技术优势体现在：</p>
									<p>丰富的代码仓库和便捷的软件模块管理工具（npm）。代码仓库包括功能齐全的软件模块，例如web应用开发框架express模块，Postgresql数据库接口模块，EPICS接口模块，图像opencv模块等等。更是提供了很多系统级的API，如文件操作、网络编程等，使得Nodejs不仅仅可以作为一个建站工具，成为一个功能齐全的后端服务器平台</p>
									<p>Node.js采用事件驱动、异步编程，适合高并发应用。Node.js非阻塞模式的IO处理给Node.js带来在相对低系统资源耗用下的高性能与出众的负载能力，非常适合用作依赖其它IO资源的中间层服务。Node.js轻量高效，可完美解决数据密集型分布式部署环境下的实时应用系统。</p>
									<p>Node.js采用google V8引擎作为编译器，使得javascript的执行速度远超Ruby、Python等脚本语言。</p>
									<br>
									<blockquote class="hero">
		
										<p>V8引擎一出场就以其一骑绝尘般的速度打败了所有对手，成为JavaScript 引擎的速度之王，并带动了解释器的革新运动。JavaScript 已经成为了当今速度最快的脚本语言之一，昔日“丑小鸭”终于成了惊艳绝俗的“白天鹅”。</p>
		
										<small>
											<cite title="Source Title">Node.js 开发指南</cite>
										</small>
		
									</blockquote>
									<br>
									<p><strong>Websocket协议</strong>是基于TCP的一种新的网络协议。它实现了浏览器与服务器全双工(full-duplex)通信——允许服务器主动发送信息给客户端。长久以来, 创建实现客户端和用户端之间双工通讯的web app都会造成HTTP轮询的滥用: 客户端向主机不断发送不同的HTTP呼叫来进行询问。服务器被迫为每个客户端使用许多不同的底层TCP连接：一个用于向客户端发送信息，其它用于接收每个传入消息。有些协议有很高的开销，每一个客户端和服务器之间都有HTTP头。简单的解决方案是使用单个TCP连接双向通信，这就是WebSocket协议所提供的功能。
									</p>
									<p><strong>EPICS IOC</strong>是运行在内存的实时数据库，能把与硬件交互的信息转化为实时数据库的若干记录（Recrod），客户端通过PV(Process Varivable)变量名的形式访问这些记录。进而实现对硬件设备的数据采集和控制。EPICS具有丰富硬件驱动支持，几乎可兼容所有类型的工业接口设备。即使是面向私有协议的驱动开发也不是特别困难。</p>
								</div>
		
								<hr>
		
								<div class="media">
		
										<h3>EXPRESS模块</h3>
										<a href="#" class="pull-left">
		
											<img alt="" src="media/image/12.jpg" class="media-object">
		
										</a>
		
										<div class="media-body">
		
											<!-- <h4 class="media-heading"><strong>EXPRESS</strong> -->
												<span>Web开发框架
													<a href="http://www.expressjs.com.cn">快速、开放、极简</a>
												</span>
											<!-- </h4> -->
		
											<p>node-express 是一个基于 Node.js 平台的web 应用开发框架，完全由路由和中间件构成。提供一系列强大的特性，帮助你创建各种Web。从本质上来说，一个 Express 应用就是在调用各种中间件。中间件（Middleware） 是一个函数，它可以访问请求对象（request object (req)）, 响应对象（response object (res)）, 和 web 应用中处于请求-响应循环流程中的中间件，一般被命名为 next 的变量。中间件的功能包括：执行代码；修改请求和响应对象；终结请求-响应循环；调用堆栈中的下一个中间件。
											</p>
											<p>Express 中间件包括有应用层中间件、路由器层中间件、错误处理中间件、内置中间件、第三方中间件。
											</p>	
											
		
										<!-- Nested media object -->
										</div>
										<hr>


									<h3>EPICS模块</h3>
										<a href="#" class="pull-left">
		
											<img alt="" src="media/image/13.png" class="media-object">
		
										</a>
		
										<div class="media-body">
		
											<!-- <h4 class="media-heading"><strong>EPICS</strong> -->
												<span>CA接口模块
													<a href="https://github.com/Johnson-Han/node-epics">get、put、monitor</a>
												</span>
											<!-- </h4> -->
		
											<p>node-epics 是一个基于 Node.js 平台的EPICS CA接口软件模块。该模块通过使用ffi模块直接调用EPICS的libca库函数，实现PV变量定义函数和PV变量“对象”get、put、monitor等“方法”。

											</p>	
											<br>
											<br>
											<br>
											
		
										<!-- Nested media object -->
										</div>
										<hr>

									<h3>WEBSOCKET模块</h3>
										<a href="#" class="pull-left">
		
											<img alt="" src="media/image/14.jpg" class="media-object">
		
										</a>
		
										<div class="media-body">
		
											<!-- <h4 class="media-heading"><strong>EPICS</strong> -->
												<span>Socket.io通讯模块
													<a href="https://socket.io">HTML5、全双工、事件</a>
												</span>
											<!-- </h4> -->
		
											<p>node-socket.io是HTML5一种新的协议(protocol)。它是实现了浏览器与服务器全双工通信(full-duplex)。使用WebSocket API，浏览器和服务器只需要要做一个握手的动作，然后，浏览器和服务器之间就形成了一条快速通道。两者之间就直接可以数据互相传送。在此WebSocket 协议中，为我们实现即时服务带来了两大好处：
												1. 互相沟通的Header是很小的-大概只有 2 Bytes。
												2. 服务器可以主动传送数据给客户端。
											</p>	
											
		
										<!-- Nested media object -->
										</div>
										<hr>


								</div>			
								

						
							</div>	
							<div class="span4">
		
								<h2>前端设计</h2>
		
								<div class="top-news">
		
									<!-- <a href="#" class="btn green">
		
										<span>HTML</span>
		
										<em>一种用来描述网页的标记语言，html使用标记标签来描述网页</em>
		
										<em>
		
											<i class="icon-tags"></i>
		
											html5, tags, browser
		
										</em>
		
										<i class="icon-music top-news-icon"></i>
		
									</a>
		
									<a href="#" class="btn yellow">
		
										<span>CSS</span>
		
										<em>层叠样式表 (Cascading Style Sheets)，定义了如何显示 HTML 元素。把样式添加到 HTML 4.0 中，是为了解决内容与表现分离的问题。</em>
		
										<em>
		
											<i class="icon-tags"></i>
		
											css3.0, style sheet
		
										</em>
		
										<i class="icon-book top-news-icon"></i>
		
									</a>
		
									<a href="#" class="btn red">
		
										<span>Javacript</span>
		
										<em>一种面向对象的脚本语言，实现前端数据处理和动作交互。</em>
		
										<em>
		
											<i class="icon-tags"></i>
		
											json
		
										</em>
		
										<i class="icon-briefcase top-news-icon"></i>
		
									</a> -->
		
									<a href="http://getbootstrap.com/" class="btn blue">
		
										<span>Bootstrap</span>
		
										<em>包含一系列基于 HTML、CSS、JAVASCRIPT 的可重用组件，是由 Twitter UI工程师开发，用于快速开发 Web 应用程序的前端框架。</em>
		
										<em>
		
											<i class="icon-tags"></i>
		
											 componant, responsive design
		
										</em>
		
										<i class="icon-music top-news-icon"></i>
		
									</a>

									<a href="http://jquery.com/" class="btn yellow">
									
										<span>Jquery</span>
									
										<em>一套跨浏览器的JavaScript库，简化了HTML与JavaScript之间的操作。</em>
									
										<em>
									
											<i class="icon-tags"></i>
									
											
									
										</em>
									
										<i class="icon-globe top-news-icon"></i>
									
									</a>
									<a href="http://echarts.baidu.com//" class="btn green">
									
										<span>echart</span>
									
										<em>ECharts，一个纯 Javascript 的图表库，底层依赖轻量级的 Canvas 类库 ZRender，提供直观，生动，可交互，可高度个性化定制的数据可视化图表。</em>
									
										<em>
									
											<i class="icon-tags"></i>
									
											可视化, 图表
									
										</em>
									
										<i class="icon-book top-news-icon"></i>
									
									</a>
								</div>
		
								<div class="space20"></div>
		
								<!-- <h2>相关标签</h2>
		
								<ul class="unstyled inline sidebar-tags">
		
									<li>
										<a href="#">
											<i class="icon-tags"></i> HTML</a>
									</li>
		
									<li>
										<a href="#">
											<i class="icon-tags"></i> CSS</a>
									</li>
		
									<li>
										<a href="#">
											<i class="icon-tags"></i>Javacript</a>
									</li>
		
									
		
								</ul> -->
		
								<div class="space20"></div>
		
								<h2>相关基础</h2>
		
								<div class="tabbable tabbable-custom">
		
									<ul class="nav nav-tabs">
		
										<li class="active">
											<a data-toggle="tab" href="#tab_1_1">HTML</a>
										</li>
		
										<li class="">
											<a data-toggle="tab" href="#tab_1_2">CSS</a>
										</li>
		
										<li class="">
											<a data-toggle="tab" href="#tab_1_3">Javacript</a>
										</li>
		
									</ul>
		
									<div class="tab-content">
		
										<div id="tab_1_1" class="tab-pane active">
		
		
											<p>
		
												 一种用来描述网页的标记语言，html使用标记标签来描述网页。
		
											</p>
		
										</div>
		
										<div id="tab_1_2" class="tab-pane">
		
		
											<p>
		
												 层叠样式表 (Cascading Style Sheets)，定义了如何显示 HTML 元素。把样式添加到 HTML 4.0 中，是为了解决内容与表现分离的问题。
											</p>
		
										</div>
		
										<div id="tab_1_3" class="tab-pane">
		
		
											<p>
		
												 一种面向对象的脚本语言，实现前端数据处理和动作交互。
		
											</p>
		
										</div>
		
									</div>
		
								</div>
		
								<div class="space20"></div>
		
								<h2>参考文献</h2>
		
								<div class="blog-twitter">
		
									<div class="blog-twitter-block">
		
										<a href="http://www-linac.kek.jp/linac-paper/2012/pcapac12-web-uchiyama.pdf">@A. Uchiyama</a>
		
										<p>EPICS channel access using websocket
										</p>
		
										<a href="#">PCAPAC
										</a>
										<span>2012</span>
		
										
		
									</div>
									<br>
		
									<div class="blog-twitter-block">
		
										<a href="">@Y. Furukawa</a>
		
										<!-- <p>At vero eos et accusamus et iusto odio.</p> -->
		
										<a href="#">ICALEPCS
										</a>
		
										<span>2011</span>
		
										<i class="icon-twitter blog-twiiter-icon"></i>
		
									</div>
									
									<br>

									<div class="blog-twitter-block">
		
										<a href="">@I. Fette</a>
		
										<p>The WebSocket Protocol</p>
		
										<a href="#">IETF HyBi Working Group
										</a>
		
										<span>2011</span>
		
										<i class="icon-twitter blog-twiiter-icon"></i>
		
									</div>
									<br>

									<div class="blog-twitter-block">
		
										<a href="">@BYVoid</a>
		
										<p>Node.js开发指南</p>
		
										<a href="#">ISBN： 978-7-115-28399-3
										</a>
		
										<span>人民有点出版社 2011</span>
		
										<i class="icon-twitter blog-twiiter-icon"></i>
		
									</div>	
									<br>								
		
								</div>
		
								<div class="space20"></div>
		
								<h2>Flickr</h2>
		
								<ul class="unstyled blog-images">
		
									<li>
		
										<a class="fancybox-button" data-rel="fancybox-button" title="390 x 220 - keenthemes.com" href="media/image/1.jpg">
		
											<img alt="" src="media/image/1.jpg">
		
										</a>
		
									</li>
		
									<li>
										<a href="#">
											<img alt="" src="media/image/2.jpg">
										</a>
									</li>
		
									<li>
										<a href="#">
											<img alt="" src="media/image/3.jpg">
										</a>
									</li>
		
									<li>
										<a href="#">
											<img alt="" src="media/image/4.jpg">
										</a>
									</li>
		
									<li>
										<a href="#">
											<img alt="" src="media/image/5.jpg">
										</a>
									</li>
		
									<li>
										<a href="#">
											<img alt="" src="media/image/6.jpg">
										</a>
									</li>
		
									<li>
										<a href="#">
											<img alt="" src="media/image/8.jpg">
										</a>
									</li>
		
									<li>
										<a href="#">
											<img alt="" src="media/image/10.jpg">
										</a>
									</li>
		
									<li>
										<a href="#">
											<img alt="" src="media/image/11.jpg">
										</a>
									</li>
		
									<li>
										<a href="#">
											<img alt="" src="media/image/1.jpg">
										</a>
									</li>
		
									<li>
										<a href="#">
											<img alt="" src="media/image/2.jpg">
										</a>
									</li>
		
									<li>
										<a href="#">
											<img alt="" src="media/image/7.jpg">
										</a>
									</li>
		
								</ul>
		
							</div>
		
		
		
						</div>
		
				<!-- END PAGE CONTENT-->
		
					</div>
		
			<!-- END PAGE CONTAINER-->
		
				</div>

		<!-- END PAGE -->    

			</div>
		</div>
	</div>
	<!-- END CONTAINER -->
			
		
	<!-- BEGIN FOOTER -->

	<div class="footer">

		<div class="footer-inner">

			2017 &copy; TMSR 钍基熔盐堆核能系统.

		</div>

		<div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

		</div>

	</div>

	<!-- END FOOTER -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<script src="media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script src="media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      

	<script src="media/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="media/js/excanvas.min.js"></script>

	<script src="media/js/respond.min.js"></script>  

	<![endif]-->   
<!-- 
	<script src="media/js/jquery.slimscroll.min.js" type="text/javascript"></script>

	<script src="media/js/jquery.blockui.min.js" type="text/javascript"></script>  

	<script src="media/js/jquery.cookie.min.js" type="text/javascript"></script>

	<script src="media/js/jquery.uniform.min.js" type="text/javascript" ></script> -->

	<!-- END CORE PLUGINS -->

	<script src="media/js/app.js"></script>      

	<script>

		jQuery(document).ready(function() {    

		   App.init();

		});

	</script>

	<!-- END JAVASCRIPTS -->

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script>
</body>

<!-- END BODY -->

</html>