#ddd
{
        text-align:center;
        color:red;
}

#BY14AX041
{
        text-align:center;
        color:red;
}
#BY14AX040
{
        text-align:center;
        color:red;
}
#BY14AX044
{
	text-align:center;
	color:red;
} 
#BY14AX045
{
	text-align:center;
	color:red;
} 
#BY14AX047
{
	text-align:center;
	color:red;
} 
#BY14AX051
{
	text-align:center;
	color:red;
} 
#BY14AX052
{
	text-align:center;
	color:red;
} 
#BY14AX064
{
	text-align:center;
	color:red;
} 
#BY14AX065
{
	text-align:center;
	color:red;
} 
#BY14AX066
{
	text-align:center;
	color:red;
} 
#BY14AX067
{
	text-align:center;
	color:red;
} 
#BY14AX068
{
	text-align:center;
	color:red;
} 
#BY14AX070
{
	text-align:center;
	color:red;
} 
#BY14AX079
{
	text-align:center;
	color:red;
} 
#BY14AX081
{
	text-align:center;
	color:red;
} 
#BY14AX082
{
	text-align:center;
	color:red;
} 
#BY14AX087
{
	text-align:center;
	color:red;
} 
#ST01AX003
{
	text-align:center;
	color:red;
} 
#ST01AX004
{
	text-align:center;
	color:red;
} 
#ST01AX006
{
	text-align:center;
	color:red;
} 
#ST03AX004
{
	text-align:center;
	color:red;
} 
